{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

{% comment %} {% block title %}Django Authentication System{% endblock  %} {% endcomment %}
  </head>
  <body>
    {% block content  %} 
    
    {% endblock  %}
   
  </body>
</html>
<!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script> 
